:root {
    --primary-color: #E76C1F;
    --secondary-color: #06171E;
    --white: #ffff;
    --gray: #627B84;
}

@font-face {
    font-family: 'Palanquin';
    src: url(./assets/fonts/Palanquin-Regular.ttf) format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    background-color: var(--white);
    font-family: 'Palanquin', Helvetica, sans-serif;
    margin: 0;
}

section {
    padding-left: 15px;
    padding-right: 15px;
}

.bg-primary {
    background-color: var(--primary-color);
}

.container_xl {
    max-width: 1440px;
    margin: 0 auto;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo {
    width: 70px;
    height: auto;
}

.menu_icon {
    width: 40px;
}