:root {
    --primary-color: #124658;
    --secondary-color: #06171E;
    --white: #ffff;
    --gray: #627B84;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}