.calc_wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.basket_wrapper {
    position: absolute;
    right: 0;
    width: 300px;
    background: #363534;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    color: var(--white);
    padding: 36px;
}

.basket__calculate {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 20px;
}

.mealList_card {
    background: #FDEADC;
    color: #232323;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 15px;
}

.mealList_card__info_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mealList_card__icon-list {
    display: flex;
}

.num_wrapper {
    display: flex;
    align-items: center;
    column-gap: 4px;
}