.meal__title {
    width: 100%;
}

.meal__title_wrapper {
    display: flex;
    align-items: center;
    color: #ffff;
    height: 65px;
    column-gap: 30px;
}

.meal_card_wrapper {
    margin-top: 15px;
    max-width: 700px;
}

.meal_card {
    display: flex;
    background-color: var(--primary-light-color);
    padding: 20px;
    border-radius: 12px;
}

.meal_card__image_wrapper {
    width: 30%;
}

.meal_info_wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.meal_title_desc_wrapper {
    line-height: 1.2;
    padding-left: 25px;
}

.addOneBtn {
    padding: 2px;
    height: 22px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ease-in;
    border-radius: 8px;
}

.addOneBtn:hover {
    background-color: #bdb2a4;
}

.addOneBtn:focus {
    background-color: #beb5a8;
}

.trash-icon {
    cursor: pointer;
    transition: .2s ease-in;
    border-radius: 8px;
}

.trash-icon-right {
    position: absolute;
    right: 9px;
    top: 17px;
}

.trash-icon:hover {
    background-color: #bdb2a4;
}

.basket_off {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-content: flex-start;
    margin-top: 30px;
}

.basket_off>img {
    margin-top: 50px;
}

.basket__title {
    text-align: center;
}

.basket_off>h4 {
    font-weight: 400;
    text-align: center;
    line-height: 1.3;
    padding: 10px;
}

#basket__mealList {
    max-height: 292px;
    overflow-y: scroll;
    padding-right: 8px;
    padding-top: 20px;
}

.basket_wrapper {
    position: sticky;
    top: 0;
    float: right;
    height: 600px;
    width: 300px;
    background: var(--dark-gray);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    color: var(--white);
    padding: 36px;
    z-index: 9;
}

.meal_price_basket_wrapper {
    min-width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.add-basket-btn {
    background: #ef4444;
    padding: 10px 15px 10px 15px;
    border: 0px solid #ffffff;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    box-shadow: 0 0 5px #b5b5b5;
    transition: .2s ease-in;
    cursor: pointer;
}

.add-basket-btn:hover {
    background: #c01e1e;
}

.buy_btn_wrapper {
    margin-top: 30px;
}

.buy_btn {
    background: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    font-family: 'Palanquin';
}

.deliver_dialog {
    width: 400px;
    background: var(--dark-gray);
    border: 2px solid #505050;
    border-radius: 20px;
}

#closeBtn {
    cursor: pointer;
}

.deliver_dialog__header {
    float: right;
}

.deliver_dialog_content_wrapper {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: var(--white);
    padding: 40px;
    text-align: center;
    line-height: 1.3;
}

.deliver_dialog_content_wrapper>h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.deliver_dialog::backdrop {
    background-color: #000000ba;
    backdrop-filter: blur(10px);
}




/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-light-color);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bdb2a4;
}


.mobile_footer {
    width: 100%;
    background-color: var(--dark-gray);
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    bottom: -1px;
}

.mobile_footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display-none-mobile-footer {
    display: none;
}






@media only screen and (max-width: 1080px) {

    .hero {
        padding-bottom: 10px;
    }

    .menu_icon {
        display: none;
    }

    .header_wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }

    .hero__cover {
        border-radius: 20px;
        width: 93%;
        margin: 16px auto;
    }

    .restaurant_logo {
        width: 150px;
        height: 150px;
        margin-top: -85px;
    }

    .restaurant_name_wrapper {
        flex-direction: column-reverse;
        gap: 24px;

    }

    .restaurant_info__name_desc_wrapper {
        margin-top: 50px;
    }

    .restaurant_info__name_desc_wrapper>h3 {
        text-align: center;
    }

    .container_xl {
        padding: 0 10px 0 10px;
    }


    .meal__title_wrapper {
        display: flex;
        flex-direction: column;
        height: 65px;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .meal__title_wrapper>img {
        width: 70px;
    }

    .meal_card_wrapper {
        max-width: 400px;
    }

    .meal_card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .meal_card__image_wrapper {
        width: 100%;
        height: 100px;
        overflow: hidden;
        border-radius: 20px;
    }

    .meal_info_wrapper {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .meal_card__image_wrapper>img {
        width: 100%;
        background-size: cover;
        background-position: center center;
    }

    .meal_title_desc_wrapper {
        padding-left: 0;
        margin: 10px 0;
    }

    .basket__title {
        margin-top: 30px;
    }

    .basket__title>h3 {
        font-size: 2rem;
    }

    .meal_price_basket_wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .basket_wrapper {
        position: fixed;
        top: 0;
        float: right;
        height: 100vh;
        width: 100%;
        padding: 0;
        overflow: hidden;
        border-radius: 0;
    }

    #basket_active {
        padding: 20px;
    }

    .close_basket_mobile {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .footer__wrapper {
        flex-direction: column-reverse;
        padding-top: 0;
    }

    .display-none-mobile {
        display: none;
    }

    .display-none-mobile-footer {
        display: block;
    }

    .mobile_footer__wrapper_menu {
        padding: 12px;
        border-radius: 14px;
        transition: .2s ease-in;
    }

    .mobile_footer__wrapper_menu:hover {
        background: rgba(0, 0, 0, 0.397);
    }

    .mobile_cart_wrapper {
        display: flex;
        align-items: flex-start;
    }

    .mobile_cart_counter {
        background: var(--primary-light-color);
        border-radius: 50%;
        height: 18px;
        width: 18px;
        text-align: center;
        line-height: 1.2;
        font-size: 12px;
        font-weight: 600;
        margin-left: -20px;
        color: var(--primary-color);
    }
}